@font-face {
    font-family: 'Aldrich';
    src: url('../FONTS/Aldrich-Regular.woff2') format('woff2'),
        url('../FONTS/Aldrich-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

